{
    "DeleteTaskFunction": {
        "DYNAMODB_ENDPOINT": "http://192.168.0.0:8000"
    },
    "GetTasksFunction": {
        "DYNAMODB_ENDPOINT": "http://192.168.0.0:8000"
    },
    "GetTaskFunction": {
        "DYNAMODB_ENDPOINT": "http://192.168.0.0:8000"
    },
    "UpdateTaskFunction": {
        "DYNAMODB_ENDPOINT": "http://192.168.0.0:8000"
    },
    "CreateTaskFunction": {
        "DYNAMODB_ENDPOINT": "http://192.168.0.0:8000"
    }
}